body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
}

.product-image {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-image img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description {
  color: #555;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: #007bff;
}

.product-button {
  font-weight: bold;
  background: #006bc8;
  color: aliceblue;
  border: 0;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  transition: .2s;
}
.product-button:active{
  font-weight: bold;
  background: #0358a2;
  color: aliceblue;
  border: 0;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  transition: .2s;

}


.product-oreder{
  width: 110px;
  height: auto;

}

.oreder-window{
  margin: 0 auto;
  width: 600px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.oreder-window input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #006bc8;
}


.oreder-window input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #006bc8;
  padding: 0 -5px 0 5px;

  margin-bottom: 20px;
}

.oreder-window button{
  margin: 0 auto;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #006bc8;
  color: aliceblue;
  
  margin-top: 20px;
}

.order-card{
  display: flex;
  justify-content: space-between;
}


.close-button{
 
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #c81b00;
  color: aliceblue;
  
  margin-top: 20px;
}

.order-summary{
    width: 300px;
    margin: 0 auto;

    background-color: rgb(233, 233, 233);
    padding-bottom: 15px;
    border-radius: 15px;
}

.order-summary h2{
  padding: 10px ;

}

.product-order {
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;

  text-align:start;
  
  width: 250px;
  height: 150px;
}

.product-order img{

  width: 50%;
  height: auto;
}

.description-prod{
  width: 300px;
}
